/* direct css, no ids/classes */

body {
    background: url(https://athdot.github.io/Creativity/29sjts.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
    background-attachment: fixed;
    font-family: Indie flower, cursive;
    color: RGB(255,80,0)
}

#td1 {
    background: rgb(41, 128, 185);
    border-left: 1px solid RGB(151,144,138);
    border-right: 1px solid RGB(151,144,138);
}

/* Ids */

#h1a {
    font-size: 150px;
    margin-top: 160px;
    margin-bottom: 0px;
}

#p1 {
    font-size: 60px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#p2 {
    margin-top: 0px;
    font-size: 20px;
    
}

#section1 {
    padding-top: 0px;
    margin-top: 50px;
    text-align: center;
}


#navtable {
    background: rgba(41, 128, 185,0.8);
    width: 100%;
height: 70px;
position:fixed;
top:0;
left:0;
}

/* End of ids */
/* Clases*/

td.navtd {
    border-right: 1px solid RGB(151,144,138)
}
.textdiv{
position:fixed;
right:0;
top:17px;
font-size: 20px;
}
.icon-image{
position:fixed;
width: 130px;
left: 30px;
top: 10px;
}
a{
text-decoration:none;
position:fixed;
top: 20px;
}
#write{
position:fixed; right:490px;
height: 70px;
width: 80px;
top:0;
}

div:hover{
    background: rgba(41, 128, 185,0.8);
}

#photo{
position:fixed; right: 330px;
height: 70px;
width: 160px;
top:0;
}
#design{
position:fixed; right: 170px;
height: 70px;
width: 160px;
top:0;
}
#dev{
position:fixed; right:0;
height: 70px;
width: 170px;
top:0;
}
.learnhover:hover{
background-color:transparent;
}
